/*contextPath*/
.customPopupBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

#customPopupWindow {
    display: none;
}

#customPopupContainer {
    position: absolute;
    width: 300px;
    background-color: #fff;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    border: 1px solid rgb(95, 0, 128);
}

#customPopupTitle {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12pt;
    background-color: rgb(95, 0, 128);
}

#customText {
    width: 100%;
    height: 100%;
    color: #666666;
    font-size: 10pt;
    padding: 20px;
}

button.custom {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 19px;
    height: 19px;
    background-image: url('/img/frame/popup/b_p_close.png');
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    display: none !important;
}

#customClose2 {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 19px;
    height: 19px;
    background-image: url('/img/frame/popup/b_p_close.png');
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    display: none !important;
}

#customClose {
    position: absolute;
    right: -10px;
    top: -11px !important;
    width: 23px;
    height: 23px;
    background-image: url('/img/frame/popup/close_button.png');
    background-color: rgb(95, 0, 128);
    background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
    background-size: 20px 20px; /* 이미지 크기 설정 */
    background-position: center center; /* 이미지를 가운데로 정렬 */
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
}

#customClose:hover {
    /*background-image: url('/img/frame/popup/b_p_close_ov.png');*/
}

#customClose:active {
    /*background-image: url('/img/frame/popup/b_p_close_ov.png');*/
}

#confirmYes, #confirmNo {
    width: 130px;
}

.yesButton {
    background: black;
    border: 1px solid black;
    color: white;
    border-radius: 4px;
    font-size: 16px;
}

.noButton {
    background: white;
    border: 1px solid black;
    color: black;
    border-radius: 4px;
    font-size: 16px;
}