
#attachDrop .fileList span{
    padding-left: 5px;
}

#attachDrop .fileList .clear{
    cursor: pointer;
}

#attachDrop .fileList .clear:hover{
    color: #aaaaaa;
}

#attachDrop {
    /*width: 90%;*/
    /*height: 90%;*/
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #aaaaaa;
    flex-direction: column
}

.popupBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

#attachContainer {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    width: 700px;
    height: 430px;
    top: calc(50% - 220px);
    left: calc(50% - 300px);
}

#attachTitle {
    background-color: #FB7D10;
    /*box-shadow: 0ox 0ox 5px 0px rgba(0, 0, 0, 0.4);*/
    color: #000;
    font-weight: 500;
    font-size: 13pt;
    height: 30px;
    padding-top: 4px;
    text-align: center;
    padding-left: 10px;
}

#attach_popup_close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 21px;
    height: 21px;
    background-image: url('/img/frame/popup/b_p_close.png');
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

#attach_popup_close:hover {
    background-image: url('/img/frame/popup/b_p_close_ov.png');
}

#attach_popup_close:active {
    background-image: url('/img/frame/popup/b_p_close_ov.png');
}

.attachSearchArea {
    margin-top: 5px;
    margin-left: 5px;
    width: calc(100% - 10px);
    background-color: #ffffff;
    border: 1px solid #c6c6c6;
    text-align: left;
    padding-bottom: 10px;
}

#attach_popup_confirm {
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    line-height: 30px;
    min-width: 50px;
    background-image: linear-gradient(#7a7a7a, #7a7a7a);
    color: #eeeeee;
    font-size: 13px;
    font-weight: 400;
    border: none;
}

#attach_popup_confirm:hover {
    background-image: linear-gradient(#676767, #676767);
    color: #fff;
}

#attach_popup_confirm:active {
    background-image: linear-gradient(#676767, #676767);
    color: #fff;
}

#attach_popup_code {
    height: 24px;
    color: #555555;
    padding-left: 5px;
    padding-right: 5px;
}

#attachPopupWindow .searchRow {
    display: inline-block;
    /*width: calc(50% - 15px);*/
    text-align: left;
    margin-left: 5px;
}

#attachPopupWindow .searchRow>label {
    display: inline-block;
    /*width: 80px;*/
    height: 16px;
}

#attachPopupWindow .SumoSelect > .CaptionCont {
    position: relative;
    border: 1px solid #A4A4A4;
    min-height: 30px;
}

#attachPopupWindow .SumoSelect > .CaptionCont > span {
    color: #777;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    line-height: 20px;
}

#attachPopupWindow .SumoSelect.open > .optWrapper {
    top: 30px;
    display: block;
}

#attachPopupWindow .SumoSelect > .optWrapper > .options li label {
    color: #777;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    line-height: 20px;
}