.createForm {
    width: 700px;
    margin: 0 auto;
}

.inputArea {
    display: inline-flex;
    width: 100%;
    padding: 5px 0px 0px 50px;
    margin-top: 4px;
}

.labelLayout {
    width: 140px;
    padding-top: 19px;
    padding-left: 35px;
}

.labelInfo {
    font-weight: 600;
    line-height: 20px;
    font-size: 16px;
}

.inputLayout {
    flex: 1 1 0%;
    box-sizing: border-box;
    margin: 0;
}

.inputCenter {
    padding-top: 13px;
    position: relative;
    height: 35px;
}

.inputText {
    width: 350px;
    height: 35px;
    padding: 2px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid #8c8c8c;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}

.inputText:disabled {
    color: #8c8c8c;
}

.inputCheckButton {
    height: 36px;
    border-radius: 3px;
    display: block;
    position: relative;
    margin-right: 23px;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 110px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
    cursor: pointer;
    font-size: 14px;
    top: 12px;
}

.inputCheckButton:disabled {
    border-color: rgb(221, 221, 221);
    color: rgb(221, 221, 221);
}

.textArea {
    padding-top: 23px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.mapText {
    font-size: 14px;
    margin-left: 15px;
}

.mapWrap {
    position:relative;
    width:100%;
    height:100%;
}

.mapAddr {
    position:absolute;
    left:10px;
    top:10px;
    border-radius: 2px;
    background:#fff;
    background:rgba(255,255,255,0.8);
    z-index:1;
    padding:5px;
}

.mapTitle {
    font-weight:bold;
    display:block;
    font-size: 16px;
}

#centerAddr {
    display: block;
    margin-top: 2px;
    font-weight: normal;
    font-size: 15px;
}