.infoLayout {
    width: 500px;
    margin: 0 auto;
}

.infoArea {
    display: inline-flex;
    width: 100%;
    padding: 5px 0px 0px 5px;
    margin-top: 4px;
    font-size: 20px;
}

.labelLayout {
    width: 150px;
    padding-top: 19px;
    padding-left: 45px;
}

.labelInfo {
    font-weight: 600;
    line-height: 20px;
    font-size: 16px;
}

.infoText {
    width: 320px;
    padding-top: 19px;
    padding-left: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}