.CreateLayout {
    width: 700px;
    margin: 0 auto;
}

.CreateArea {
    display: inline-flex;
    width: 100%;
    padding-top: 5px;
    margin-top: 5px;
    font-size: 20px;
}

.labelLayout {
    width: 120px;
    padding-top: 15px;
    padding-left: 10px;
}

.labelInfo {
    font-weight: 600;
    line-height: 20px;
    font-size: 16px;
}

.inputLayout {
    flex: 1 1 0%;
    box-sizing: border-box;
    margin: 0;
}

.inputCenter {
    padding-top: 13px;
    position: relative;
    height: 35px;
}

.inputText {
    width: 370px;
    height: 35px;
    padding: 2px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid #8c8c8c;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}

.inputText:disabled {
    color: #8c8c8c;
}

/* webix select box의 위아래 선을 없애는 스타일 */
.webix_view {
    border-top: none;
    border-bottom: none;
}

.webix_view select {
    border-radius: 4px;
    padding-left: 4px;
    font-size: 14px;
}


.ck-editor__editable {
    height: 395px;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.ck-content {
    font-size: 14px;
}