.inputLayout {
    width: 500px;
    margin: 0 auto;
}

.inputArea {
    display: inline-flex;
    width: 100%;
    padding: 5px 0px 0px 5px;
    margin-top: 4px;
    font-size: 20px;
}

.labelLayout {
    width: 150px;
    padding-top: 23px;
    padding-left: 45px;
}

.labelInfo {
    font-weight: 600;
    line-height: 20px;
    font-size: 16px;
}

.inputLayout {
    flex: 1 1 0%;
    box-sizing: border-box;
    margin: 0;
}

.inputCenter {
    padding-top: 23px;
    position: relative;
    height: 35px;
}

.inputText {
    width: 300px;
    height: 35px;
    padding: 2px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid #8c8c8c;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}

.inputText:disabled {
    color: #8c8c8c;
}