<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsh.project.main.entity.MainMapper">
    <resultMap id="hashMapVO" type="com.lsh.framework.data.HashMapVO"/>
    <resultMap id="hashMapResultVO" type="com.lsh.framework.data.HashMapResultVO"/>

<!--    사용자가 가입된 그룹 조회 (차단된 것 제외)-->
    <select id="selectGroupsByUserId" parameterType="String" resultMap="hashMapResultVO">
        SELECT mg.group_id, mg.group_nm
        FROM map_group mg INNER JOIN map_group_user mgu ON mg.group_id = mgu.group_id
        WHERE mgu.user_id =  #{userId} AND group_user_rank_cd != 'blocked'
        ORDER BY mgu.group_user_no;
    </select>

<!--    사용자 정보 조회-->
    <select id="selectUserInfoByUserId" parameterType="java.lang.String" resultMap="hashMapResultVO">
        select user_id, user_nm, user_email, insert_dt
        from map_user
        where user_id = #{userId, jdbcType=VARCHAR}
    </select>

    <update id="updateUser" parameterType="map">
        update map_user
        set user_pw = #{userPw, jdbcType=VARCHAR},
            user_nm = #{userNm, jdbcType=VARCHAR},
            update_dt = CURRENT_TIMESTAMP,
            update_id = #{userId, jdbcType=VARCHAR},
            update_ip = #{updateIP,jdbcType=VARCHAR}
        where user_id = #{userId, jdbcType=VARCHAR}
    </update>
</mapper>