<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="groupInsert">
    <resultMap id="hashMapVO" type="com.sjinc.bss.framework.data.HashMapVO"/>
    <resultMap id="hashMapResultVO" type="com.sjinc.bss.framework.data.HashMapResultVO"/>

<!--    그룹 검색 쿼리-->
    <select id="selectByLikeId" parameterType="String" resultMap="hashMapResultVO">
        SELECT mg.group_id, mg.user_id, mg.group_nm, mu.user_email, mg.insert_dt
        FROM map_group mg LEFT OUTER JOIN map_user mu ON mg.user_id = mu.user_id
        WHERE mg.group_nm LIKE '%' || #{groupId, jdbcType=VARCHAR} || '%'
        ORDER BY insert_dt;
    </select>


    <select id="selectGroupByIdAndPassword" parameterType="java.util.Map" resultMap="hashMapResultVO">
        SELECT group_id, group_nm
        FROM map_group
        WHERE group_id = #{groupId, jdbcType=VARCHAR} AND group_pw = #{groupPw, jdbcType=VARCHAR};
    </select>

    <select id="selectGroupUserByIdsAndRank" parameterType="java.util.Map" resultMap="hashMapResultVO">
        SELECT group_id, user_id
        FROM map_group_user
        WHERE group_id = #{groupId, jdbcType=VARCHAR} AND user_id = #{userId, jdbcType=VARCHAR};
    </select>
</mapper>