<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="groupInsert">
    <resultMap id="hashMapVO" type="com.lsh.framework.data.HashMapVO"/>
    <resultMap id="hashMapResultVO" type="com.lsh.framework.data.HashMapResultVO"/>

<!--    그룹 검색 쿼리-->
    <select id="selectByLikeId" parameterType="String" resultMap="hashMapResultVO">
        SELECT mg.group_id, mg.user_id, mg.group_nm, COUNT(*) AS group_count,
               MAX(mg.insert_dt) AS insert_dt, MAX(mu.user_email) AS user_email
        FROM map_group mg INNER JOIN map_group_user mgu ON mg.group_id = mgu.group_id INNER JOIN
            map_user mu ON mg.user_id = mu.user_id
        WHERE mg.group_nm LIKE '%' || #{groupId, jdbcType=VARCHAR} || '%'
        GROUP BY mg.group_id, mg.user_id, mg.group_nm
        ORDER by mg.insert_dt
    </select>

<!--    그룹 가입 전 pw 확인 쿼리-->
    <select id="selectGroupByIdAndPassword" parameterType="java.util.Map" resultMap="hashMapResultVO">
        SELECT group_id, group_nm
        FROM map_group
        WHERE group_id = #{groupId, jdbcType=VARCHAR} AND group_pw = #{groupPw, jdbcType=VARCHAR};
    </select>

<!--    그룹 가입 전 가입여부 확인 쿼리-->
    <select id="selectGroupUserByIdsAndRank" parameterType="java.util.Map" resultMap="hashMapResultVO">
        SELECT group_id, user_id
        FROM map_group_user
        WHERE group_id = #{groupId, jdbcType=VARCHAR} AND user_id = #{userId, jdbcType=VARCHAR};
    </select>

<!--    그룹 가입 쿼리(그룹원 등록)-->
    <insert id="joinMapGroupUser" parameterType="java.util.Map">
        INSERT INTO map_group_user (
            group_id, user_id, group_user_rank_cd,
            insert_dt, insert_id, insert_ip, update_dt, update_id, update_ip
        )
        VALUES (
                   #{groupId, jdbcType=VARCHAR}, #{userId, jdbcType=VARCHAR}, #{groupRank, jdbcType=VARCHAR},
                   CURRENT_TIMESTAMP, #{userId, jdbcType=VARCHAR}, #{insertIp, jdbcType=VARCHAR}, NULL, NULL, NULL
               )
    </insert>

<!--    그룹 생성 전 id 중복 확인 쿼리-->
    <select id="selectByGroupId" parameterType="java.lang.String" resultMap="hashMapResultVO">
        select group_id
        from map_group
        where group_id = #{groupId, jdbcType=VARCHAR}
    </select>

<!--    그룹 생성 쿼리-->
    <insert id="createMapGroup" parameterType="java.util.Map">
        INSERT INTO map_group (
            group_id, user_id, group_pw, group_nm,
            group_lat, group_long, group_lev,
            insert_dt, insert_id, insert_ip, update_dt, update_id, update_ip
        )
        VALUES (
                   #{groupId, jdbcType=VARCHAR}, #{userId, jdbcType=VARCHAR}, #{groupPw, jdbcType=VARCHAR}, #{groupNm, jdbcType=VARCHAR},
                   #{groupLat, jdbcType=INTEGER}, #{groupLong, jdbcType=INTEGER}, #{groupLev, jdbcType=INTEGER},
                   CURRENT_TIMESTAMP, #{userId, jdbcType=VARCHAR}, #{insertIp, jdbcType=VARCHAR},
                   NULL, NULL, NULL
               )
    </insert>
</mapper>