<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="groupManage">
    <resultMap id="hashMapVO" type="com.lsh.framework.data.HashMapVO"/>
    <resultMap id="hashMapResultVO" type="com.lsh.framework.data.HashMapResultVO"/>

<!--    그룹 검색 쿼리-->
    <select id="selectByLikeId" parameterType="java.util.Map" resultMap="hashMapResultVO">
        SELECT *
        FROM (
                 SELECT mg.group_id,
                        mg.user_id,
                        mg.group_nm,
                        mg.group_lev,
                        mg.group_lat,
                        mg.group_long,
                        COUNT(*)           AS group_count,
                        MAX(mg.insert_dt)  AS insert_dt,
                        MAX(mu.user_email) AS user_email
                 FROM map_group mg
                          INNER JOIN map_group_user mgu ON mg.group_id = mgu.group_id
                          INNER JOIN map_user mu ON mg.user_id = mu.user_id
                 WHERE mg.group_nm LIKE '%' || #{groupId, jdbcType=VARCHAR} || '%'
                 GROUP BY mg.group_id, mg.user_id, mg.group_nm, mg.group_lev, mg.group_lat, mg.group_long
                 ORDER by mg.insert_dt
             )
        WHERE group_id IN (SELECT group_id
                           FROM map_group_user
                           WHERE user_id = #{userId, jdbcType=VARCHAR})
    </select>

    <delete id="deleteReviewLikeByGroupAndUser" parameterType="map">
        DELETE
        FROM map_review_like
        WHERE marker_review_no IN (
            SELECT marker_review_no
            FROM map_marker_review
            WHERE marker_no IN (
                SELECT marker_no
                FROM map_marker
                WHERE group_id = #{groupId, jdbcType=VARCHAR}
            )
        )
        AND user_id = #{userId, jdbcType=VARCHAR}
    </delete>

    <delete id="deleteMarkerReviewByGroupAndUser" parameterType="map">
        DELETE
        FROM map_marker_review
        WHERE marker_no IN (
            SELECT marker_no
            FROM map_marker
            WHERE group_id = #{groupId, jdbcType=VARCHAR}
        )
          AND user_id = #{userId, jdbcType=VARCHAR}
    </delete>

    <delete id="deleteBookmarkByGroupAndUser" parameterType="map">
        DELETE
        FROM map_bookmark
        WHERE marker_no IN (
            SELECT marker_no
            FROM map_marker
            WHERE group_id = #{groupId, jdbcType=VARCHAR}
        )
          AND user_id = #{userId, jdbcType=VARCHAR}
    </delete>

    <delete id="deleteMarkerByGroupAndUser" parameterType="map">
        DELETE
        FROM map_marker
        WHERE group_id = #{groupId, jdbcType=VARCHAR}
        AND user_id = #{userId, jdbcType=VARCHAR}
    </delete>

    <delete id="deleteGroupUserByGroupAndUser" parameterType="map">
        DELETE
        FROM map_group_user
        WHERE group_id = #{groupId, jdbcType=VARCHAR}
          AND user_id = #{userId, jdbcType=VARCHAR}
    </delete>

    <delete id="deleteGroupByGroup" parameterType="map">
        DELETE
        FROM map_group
        WHERE group_id = #{groupId, jdbcType=VARCHAR}
          AND user_id = #{userId, jdbcType=VARCHAR}
    </delete>

    <select id="selectGroupByGroup" parameterType="java.lang.String" resultMap="hashMapResultVO">
        SELECT group_id, group_nm, group_lat, group_long, group_lev
        FROM map_group
        WHERE group_id = #{groupId, jdbcType=VARCHAR}
    </select>

<!--    그룹 수정 쿼리-->
    <update id="updateMapGroup" parameterType="java.util.Map">
        UPDATE map_group
        SET
            group_pw    = #{groupPw, jdbcType=VARCHAR},
            group_nm    = #{groupNm, jdbcType=VARCHAR},
            group_lat   = #{groupLat, jdbcType=VARCHAR},
            group_long  = #{groupLong, jdbcType=VARCHAR},
            group_lev   = #{groupLev, jdbcType=INTEGER},
            update_dt   = CURRENT_TIMESTAMP,
            update_id   = #{userId, jdbcType=VARCHAR},
            update_ip   = #{updateIp, jdbcType=VARCHAR}
        WHERE
            group_id = #{groupId, jdbcType=VARCHAR};
    </update>

    <select id="groupUserSearch" parameterType="java.util.Map" resultMap="hashMapResultVO">
        SELECT A.group_user_no, A.user_id, B.user_nm, A.group_user_rank_cd, C.cd_nm, B.user_email, A.insert_dt
        FROM map_group_user A
            INNER JOIN map_user B ON A.user_id = B.user_id
            INNER JOIN sy_cmm_cd C ON A.group_user_rank_cd = C.cd
        WHERE A.group_id = #{groupId, jdbcType=VARCHAR}
        ORDER BY A.insert_dt
    </select>


    <update id="updateGroupUser" parameterType="java.util.Map">
        UPDATE map_group_user
        SET
            group_user_rank_cd = #{groupUserRankCd, jdbcType=VARCHAR},
            update_dt          = CURRENT_TIMESTAMP,
            update_id          = #{userId, jdbcType=VARCHAR},
            update_ip          = #{updateIp, jdbcType=VARCHAR}
        WHERE
            group_user_no = #{groupUserNo, jdbcType=INTEGER};
    </update>
</mapper>