/*contextPath*/
@import url(/font/NotoSans/stylesheets/NotoSansKR-Hestia.css);

* {
	 font-family: 'Noto Sans Korean';
	font-weight: 500;
	/*font-size: 9pt;*/
	color: #000;
	/* 	border-collapse: collapse; */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #000;
}

html, body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

p {
	color: white;
}

p, div, ul, li {
	padding: 0px;
	margin: 0px;
}

button {
	cursor: pointer;
}

button:focus {
	outline: 0;
}



textarea:focus {
	outline: 0;
}

input:focus {
	outline: 0;
}

div.space {
	display: inline-block;
	width: 50px;
}

select {
	height: 30px;
	font-size: 15px;
	line-height: 15px;
	color: #3d3d3d;
	background-color: #ffffff;
	margin: 0;
	border: 1px solid #a1a1a1;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
}

select:hover {
	border-color: #888;
}

select:focus {
	border-color: #a1a1a1;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	outline: none;
}

select:disabled {
	opacity: 0.5;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: #CDCDCD;
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}