@CHARSET "UTF-8";

* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none
}

.topLine {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 1050px;
    color: black;
    text-align: center;
    justify-content: center;
    height: 6.2rem;
    border-bottom: 2px solid #000;
    background-color: white;
    z-index: 999;
}

.topTitleIcon {
    margin-top: 10px;
    width: 80px;
}

.topTitle {
    margin-top: 28px;
    margin-left: 10px;
    padding-right: 14px;
}

.loginLayout {
    min-width: 1050px;
    margin-top: 65px;
    margin-bottom: 7px;
    background-color: #fff;
}

.loginTitle {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 550;
    text-align: center;
    letter-spacing: -1px;
}

.loginForm {
    width: 520px;
    margin: 0 auto;
    border-top: 2px solid #000;
    padding-top: 5px;
}

.inputArea {
    display: inline-flex;
    width: 100%;
}

.inputLayout {
    box-sizing: border-box;
    margin: 0 auto;
}

.inputCenter {
    padding-top: 22px;
    position: relative;
    height: 48px;
}

.inputText {
    width: 420px;
    height: 46px;
    padding: 2px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid #8c8c8c;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}

.loginButtonArea {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 35px 0px 20px 0px;
}

#loginButton {
    display: block;
    font-size: 18px;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 330px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
    cursor: pointer;
}

#loginButton:disabled {
    background-color: #dddfe4 !important;
    cursor: default !important;
}

.joinButtonArea {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 35px;
}

#joinButton {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    height: 56px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
}